* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #99c089;
  display: flex;
  justify-content: center;
  align-items: center;;
  height: 100vh;
}

.calculator {
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #575757;
  width: 360px;
  padding: 25px 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.display {
  box-sizing: border-box;
  font-family: 'digital-7_monomono';
  border-radius: 10px;
  border: 1px solid #4e4e4e;
  width: 310px;
  min-height: 100px;
  background-color: #bcd1bf;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px 20px;
}

.last-input {
  font-size: 24px;
}

.current-input {
  font-size: 32px;
}

button {
  box-sizing: border-box;
  font-size: 20px;
  width: 70px;
  height: 60px;
  background-color: #ececec;
  border: 1px solid #4e4e4e;
  border-radius: 10px;
  cursor:pointer;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#button-equal {
  background-color: #f79700;
}

#button-clear {
  width: 150px;
  background-color: #e2344b;
}

#button-delete {
  width: 150px;
  background-color: #A3ADDE;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url('fonts/digital-7_mono-webfont.woff2') format('woff2'),
       url('fonts/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}