* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: #99c089;
  display: flex;
  justify-content: center;
  align-items: center;;
  height: 100vh;
}

.calculator {
  font-size: 24px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #575757;
  width: 400px;
  padding: 25px 25px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.display {
  box-sizing: border-box;
  font-family: 'digital-7_monomono';
  border-radius: 10px;
  border: 1px solid #4e4e4e;
  width: 250px;
  height: 70px;
  background-color: #bcd1bf;
}

.button {
  box-sizing: border-box;
  border-radius: 35px;
  border: 1px solid #4e4e4e;
  background-color: #ececec;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
    font-family: 'digital-7_monomono';
    src: url('fonts/digital-7_mono-webfont.woff2') format('woff2'),
         url('fonts/digital-7_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}